<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mandatorylunchtime" value="0.75" />
    <add key="mandatoryworktime" value="8" />
    <add key="secondsbetweenstamps" value="5" />
    <add key="pathdatabase" value="C:\xampp\htdocs\Projekt-BLJ\src\TADATA.FDB" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>