<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mandatorylunchtime" value="0.75" />
    <add key="mandatoryworktime" value="8" />
    <add key="secondsbetweenstamps" value="30" />
    <add key="pathdatabase" value="E:\5_daten\TimeCounter\Projekt-BLJ\src/TADATA.FDB" />
    <add key="host" value="mySQL6.webland.ch" />
    <add key="port" value="3306" />
    <add key="database" value="d041e_zeit" />
    <add key="username" value="d041e_zeit" />
    <add key="password" value="Zeit1Zeit1Zeit1" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data>
</configuration>